<?xml version="1.0"?>
<ruleset name="Newspack Event Logger Plugins">
	<description>PHP Coding Standards for Event Logger plugins.</description>

	<!-- Scan all plugin directories -->
	<file>./newspack-event-aggregator</file>
	<file>./newspack-event-logger</file>
	<file>./newspack-event-dashboards</file>
	<file>./newspack-event-jobs</file>
	<file>./newspack-performance-aggregator</file>
	<file>./newspack-performance-dashboards</file>
	<file>./newspack-performance-gyroscope</file>
	<file>./newspack-performance-logger</file>
	<file>./newspack-performance-request-log</file>
	<file>./newspack-performance-workers</file>

	<!-- Exclude build, vendor, and test directories -->
	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>

	<!-- How to scan -->
	<arg value="sp"/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>

	<!-- Rules: WordPress VIP Go Coding Standards -->
    <rule ref="WordPress-VIP-Go">
      <!-- Exclude JS sniffs that cause PHPCS 4.0 deprecation warnings -->
      <exclude name="WordPressVIPMinimum.JS"/>
    </rule>

	<!-- Allow short array syntax -->
	<rule ref="Generic.Arrays.DisallowLongArraySyntax"/>

	<!-- WordPress version check -->
	<config name="minimum_supported_wp_version" value="6.0"/>
</ruleset>
